
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #8f978e;
}

.heading {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ-iD-E9oeUC2mMfOolUJyizkH_VWLBKRWQ2tWF3zbdM7uDfshlA004qyNAOkVXyJv89E&usqp=CAU');
  background-repeat: repeat;
  height: 175px;
  position: relative;
}

.overlay {
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}

.nav li {
  font-size: 2.25rem;
  font-weight: 900;
  list-style: none;
  display: inline-block;
  padding-right: 35px;
  padding-left: 15px;
}

a {
  color: #1f0b11;
  cursor: pointer;
  padding-left: 10px;
  text-decoration: none;
}

h1 {
  color: #1f0b11;
  font-size: 3.25rem;
  font-weight: bolder;
}

h2 {
  color: #1f0b11;
  font-size: 3rem;
  font-weight: bolder;
}

.cart ion-icon {
  vertical-align: middle;
  font-size: 40px;
  padding-right: 15px;
}